<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('partials/header', {name: name}) %>
</header>

<main>
    <div class="card">
        <div class="card-header text-white">
            <h1><%= todo.subject %></h1>
        </div>
        <div class="card-body">
            <p class="card-text"><%= todo.description %></p>
            <a class="btn btn-lg btn-primary btn-lg" href="/">Back</a>
        </div>
    </div>
</main>

<footer>
    <%- include ('partials/footer') %>
</footer>

</body>
</html>
